<!-- <h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
 -->
<% provide(:title, "Help") %>
<h1>JC Language</h1>
<p>
	This is the help page for the <a href="https://github.com/Julie-Chelsea">Julie-Chelsea Language Project</a>
</p>

