<!-- <h1>StaticPages#home</h1>-->

<div class="standalone">
	<div class="title cyan200">
		<h1 class="title">Peck</h1>
	</div>
	<div class="heading cyan300" id="subtitle">
		<h5 class="subtitle">A Korean language learning experience integrated with entertainment.</h5>
	</div>
</div>
<div class="standalone">
	<div class="heading grey400">
		<h2>Preview</h2>
	</div>
	<div class="section">
		<p>Peck matches lessons to entertainment, and vice-versa, to help you learn Korean faster. This way, you can internalize both the culture and the practical applications of Korean.<br><br>
		
		Peck seeks to provide you with a fun learning experience that comes closest to helping you thoroughly understand and become fluent in a language of your choice.</p>
	</div>
</div>