<!-- <h1>StaticPages#home</h1>-->

<div class="standalone">
	<div class="title cyan200" id="sky">
		<h1 class="title">Peck</h1>
		<img class="cloud" id="cloud1" src='http://chelseavalentinesday.com/project/peck/cloud1.svg'>
		<img class="cloud" id="cloud2" src='http://chelseavalentinesday.com/project/peck/cloud2.svg'>
		<img class="cloud" id="cloud3" src='http://chelseavalentinesday.com/project/peck/cloud3.svg'>
		<img class="cloud" id="cloud4" src='http://chelseavalentinesday.com/project/peck/cloud4.svg'>
		<img class="cloud" id="cloud5" src='http://chelseavalentinesday.com/project/peck/cloud5.svg'>
	</div>
	<div class="heading cyan300" id="subtitle">
		<h5 class="subtitle">A Korean language learning experience integrated with entertainment.</h5>
		<img class="duck" id="duck1" src='http://chelseavalentinesday.com/project/peck/duck1.svg'>
		<img class="duck" id="duck2" src='http://chelseavalentinesday.com/project/peck/duck2.svg'>
		<img class="duck" id="duck3" src='http://chelseavalentinesday.com/project/peck/duck3.svg'>
		<img class="duck" id="duck4" src='http://chelseavalentinesday.com/project/peck/duck4.svg'>
		<img class="duck" id="duck5" src='http://chelseavalentinesday.com/project/peck/duck5.svg'>
	</div>
</div>
<div class="standalone">
	<div class="heading grey400">
		<h2>Preview</h2>
	</div>
	<div class="section">
		<p>Peck matches lessons to entertainment, and vice-versa, to help you learn Korean faster. This way, you can internalize both the culture and the practical applications of Korean.<br><br>
		
		Eventually, there'll be a preview here.</p>
	</div>
</div>