<div class="footerLine1"></div>
<div class="footerLine2"></div>

	<small>
	<p class="footerNav">

		Peck by <a href="https://github.com/ycp217">Julie Pan</a> and <a href="https://github.com/chelseavalentine"> Chelsea Valentine</a>.

		<span flex></span>

		<ul class="footerNav">
			<li class="footerNav"><%= link_to "Home |", root_path %></li>
			<li class="footerNav"><%= link_to "Help |", help_path %></li>	
			<li class="footerNav"><%= link_to "About |", about_path %></li>
			<li class="footerNav"><%= link_to "Contact", contact_path %></li>
		</ul>
	</p>
	</small>