<% provide(:title, 'All lessons') %>
<div class="holder">
	<h2 class="language1">한국어</h2>
	<h2 class="language2">Korean</h2>

	<div class="resume">
		<center>
			<button class="resume">Resume</button><br>
			<a class="grey" href="">View your stats</a>
		</center>
	</div>
</div>

<div class="container" id="koreanpage">
	<center>
	<%= @lessons .find_each do |l| %>
		<div class="lesson">
			<div class="lessonimage">
				<h1 class="lessonnumber"><%= link_to l.number, l, class: 'no' %></h1>
			</div>
			<div class="lessontitle">
				<p class="lessontitle">
					<%= link_to l.title, l, class: 'no' %>
				</p>
			</div>
		</div>
		<% if (l.number%3 == 0) %>
			<br><br>
		<% end %>
	<% end %>

	<% if (@lessons.size)%3 == 1 %>
		<div class="lesson">
			<div class="invisibleimage">
			</div>
			<div class="invisibletitle">
			</div>
		</div>
		<div class="lesson">
			<div class="invisibleimage">
			</div>
			<div class="invisibletitle">
			</div>
		</div>
		<% end %>

		<% if (@lessons.size)%3 == 2 %>
		<div class="lesson">
			<div class="invisibleimage">
			</div>
			<div class="invisibletitle">
			</div>
		</div>
		<% end %>
	</center>
</div>