<h1>한국어 | Korean </h1>

<ul class="lessons">
	<%= @materials.find_each do |material| %>
		<li>
			<div class="lesson">
				<h2><%= material.number %>
				<%= link_to material.title if material.language == 'KOR'%>
			</div>
		</li>
	<% end %>
</ul>
