<% provide(:title, "Lesson") %>
<h1><%= @slide.title %></h1>
<p><%= @slide.content %></p>

<% if @slide.id > 1 %>
<%= link_to "Previous", lesson_slide_path(@slide.lesson_id, @previous.id)%>
<% end %>

<% if @slide.id < @slides.size %>
<%= link_to "Next", lesson_slide_path(@slide.lesson_id, @next.id) %>
<% end %>
