@import 'colors';
@import 'text';

div.footerLine1{
	margin-top: 30px;
	position: relative;
	width: 100%;
	height: 1px;
	background: $lightblue50;
}

div.footerLine2{
	position: relative;
	width: 100%;
	height: 1px;
	background: $lightblue200;
}

ul.footerNav{
	list-style: none;
	text-align: right;
	margin: 0;
	margin-left: 400px;
	display: inline;
}

li.footerNav{
	display: inline;
}

p.footerNav{
	margin: 0;
	display: inline;
	width: 100%;
}