h1.title{
	color: white;
	padding-top: 200px;
}

h5.subtitle{
	text-align: center;
	color: white;
	font-size: 2em;
}

.cloud{
	position: absolute;
	width: 150px;
	left: -100px;
	opacity: 0;
	top: 50px;
	-webkit-animation: float 10s linear 0s infinite;
	-webkit-backface-visibility: hidden;
}

#cloud2{
	top: 100px;
	-webkit-animation: float 11s linear 1s infinite;
}

#cloud3{
	top: 175px;
	-webkit-animation: float 12s linear 2s infinite;
}

#cloud4{
	top: 2300px;
	-webkit-animation: float 7s linear 4s infinite;
}

#cloud5{
	top: 300px;
	-webkit-animation: float 14s linear 5s infinite;
}

@-webkit-keyframes float{
	0%{
		left: -100px;
		opacity: 0;
	}
	20%{
		opacity: 0.2;
	}
	60%{
		opacity: 0.3;
	}
	80%{
		opacity: 0.2;
	}
	100%{
		transform: translate(1100px, 0);
		opacity: 0;
	}
}

.duck{
	position: absolute;
	width: 50px;
	opacity: 0;
	left: 0;
	top: 200px;
	-webkit-backface-visibility: hidden;
}

/*Individual ducks*/
#duck1{
	top: 370px;
	-webkit-animation: swim 6s linear 0s infinite;
}

#duck3{
	top: 605px;
	-webkit-animation: swim 9s linear 5s infinite;
}

#duck4{
	top: 615px;
	-webkit-animation: swim 9s linear 2s infinite;
}

/*For individual ducks*/
@-webkit-keyframes swim {
	0%{
		left: 0;
		opacity: 0;
	}
	5%{
		transform: translate(0, 0);
	}
	10%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.7;
	}
	100%{
		opacity: 0;
		transform: translate(950px, 0);
	}
}

/*Duckie families*/
.duckfamily{
	@extend .duck;
	width: 150px;
}

#family2{
	top: 420px;
	width: 200px;
	-webkit-animation: swim2 10s linear 1s infinite;
}

#family3{
	top: 690px;
	-webkit-animation: swim2 7s linear 5s infinite;
}

/*For family ducks*/
@-webkit-keyframes swim2 {
	0%{
		left: 0;
		opacity: 0;
	}
	5%{
		transform: translate(0, 0);
	}
	10%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.7;
	}
	100%{
		opacity: 0;
		transform: translate(800px, 0);
	}
}