@import 'colors';
@import 'page';

/*Korean language page*/
#koreanpage{
	margin-top: 25px;
	padding-top: 50px;
}

/*Header in Korean: 한국어*/
h2.language1{
	padding: 0;
	margin-left: -5px;
	display: inline;
	font-weight: 400;
	color: $grey700;
}

/*Header in English: Korean*/
h2.language2{
	padding: 0;
	display: inline;
	color: $grey500;
}

/*Holds resume button & view all stats*/
div.resume{
	margin-top: 25px;
	display: inline-block;
	float: right;
}

button.resume{
	background-color: $blue500;
}

div.lesson{
	display: inline-block;
	width: 250px;
}

div.lesson + div.lesson {
	padding-left: 20px;
}

/*Top part of lesson div*/
div.lessonimage{
	display: inline-block;
	width: 250px;
	height: 135px;
}

.lessonnumber{
	font-size: 5em;
	color: white;
	padding: 0;
	margin-top: 20px;
	opacity: 0.2;
}

/*Bottom part of lesson div*/
div.lessontitle{
	display: block;
	width: 250px;
}

p.lessontitle{
	padding: 0;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0;
	color: white;
	font-size: 16px;
	font-weight: 500;
}

/*Create invisible placeholder lessons, when lessons aren't a length of a multiple of 3, just to make layout look better*/
.invisibleimage{
	@extend div.lessonimage;
}

.invisibletitle{
	@extend div.lessontitle;
}

/*Word list*/
h2.lessontitle{
	font-size: 3em;
	font-weight: 700;
	color: $grey600;
	padding-bottom: 0;
	padding-left: 0;
}

button.wordlist {
	margin-right: 5px;
}

#viewlesson{
	background-color: $orange500;
}

#entertainment{
	background-color: $blue500;
}

#quiz{
	background-color: $lightgreen500;
}

/*Word list stuff*/
#wordlist{
	background-color: $grey50;
	position: relative;
	padding: 0;
	max-width: 1000px;
	width: 95%;
	min-width: 600px;
}

div.word{
	@extend .remove;
	width: 100%;
	height: 100px;
	border-top: solid 1px $grey300;
	border-bottom: solid 2px $white;
}

div.wordnumber{
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: $grey100;
}

h1.wordnumber{
	margin-top: 10px;
	font-size: 4em;
	color: $grey400;
	padding: 0;
}

img.wordimage{
	display: inline-block;
	position: relative;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	vertical-align: top;
	width: 100px;
}

div.info{
	@extend .remove;
	display: inline-block;
}

h3.korean{
	font-family: 'Noto Sans', sans-serif;
	color: $grey900;
	font-size: 1.5em;
	margin-left: -1px;
	margin-right: 7px;
	display: inline;
	padding: 0;
}

h3.romanization{
	color: $grey400;
	font-size: 1em;
	display: inline;
	padding: 0;
}

h3.definition{
	color: $grey800;
	font-size: 1.2em;
	padding: 0;
}

div.progress{
	height: 100px;
	display: inline-block;
	float: right;
	padding-left: 22px;
	padding-right: 22px;
}

p.progress{
	color: $grey700;
	font-size: 0.8em;
	text-align: center;
	line-height: 100%;
	padding: 0;
	padding-top: 32px;
}

p.progressnumber{
	color: $grey400;
	text-align: center;
	line-height: 100%;
	padding: 0;
	font-weight: 600;
}

div.moreinfo{
	display: inline-block;
	background: $grey300;
	width: 75px;
	height: 75px;
	border-radius: 50px;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
}

p.moreinfo{
	color: $grey800;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
	font-size: 0.7em;
	margin-top: 15px;
}