@import 'colors';

/*Inline form labels (on left) & fields (on right)*/
.labels{
	display: inline-block;
	text-align: left;
	margin-right: 15px;
}

.fields{
	display: inline-block;
	text-align: left;
	vertical-align: top;
}

/*Login page*/
	/*Make the login container smaller than usual, to make it more visually appealing*/
	#loginbox{
		width: 300px;
	}

	/*Forgot password styling*/
	.forgotit{
		font-size: 0.7em;
	}

	.forgotit:link, .forgotit:visited{
		color: $indigo700;
	}

	/*Position the remember me elements to the left*/
	.remember{
		position: relative;
		text-align: left;
		display: inline-block;
		margin-left: -150px;
	}

	/*Form login button*/
	#login1{
		background: $indigo900;
		color: white;
	}

	#login1:hover{
		background: $indigo800;
	}

	/*'Remember me' next to checkbox*/
	p.checkbox{
		margin-left: -10px;
		display: inline;
		font-size: 0.8em;
		color: $grey800;
	}

/*Sign up page*/
	/*Form signup button*/
	#signup1{
		background: $lightgreen800;
		color: white;
	}

	#signup2{
		width: 500px;
	}

	/*User reassurance/descriptions*/

	.description{
		display: block;
		font-size: 0.8em;
		font-style: italic;
		color: $grey600;
		padding: 0;
	}