//Import statements
@import 'colors';
@import 'text';
@import 'home';
@import 'signup';
@import 'header';
@import 'footer';

div.page{
	position: relative;
}

button{
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	border: solid 1px $white;
	border-radius: 12px;
	top: 0;
	background: transparent;
	position: relative;
	display: inline-block;
}

button.pop{
	box-shadow: 0 0 7px $white;
}

.button{
	@extend .font;
	font-size: 1.2em;
	font-weight: 500;
	text-transform: uppercase;
}