<small>
<p class="footerNav">

	<!-- <ul class="footerNav">
		<li class="footerNav"><%= link_to "Home |", root_path %></li>
		<li class="footerNav"><%= link_to "Help |", help_path %></li>	
		<li class="footerNav"><%= link_to "About |", about_path %></li>
		<li class="footerNav"><%= link_to "Contact", contact_path %></li>
	</ul> -->
</p>
</small>