<footer class="footer">
	<small>
		The JC Lang Project by <a href="https://github.com/ycp217">Julie Pan</a> and <a href="https://github.com/chelseavalentine"> Chelsea Valentine</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="news blog link here">Updates</li>
		</ul>
	</nav>
</footer>