<header class="navbar navbar-fixed-top navbar-invers">
	<div class="container">
		<%= link_to "jc lang", root_path, id: "logo" %>
		<nav>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Help", help_path %></li>
			<li><%= link_to "Log in", '#' %></li>
		</nav>
	</div>
</header>